@model CBTour.Models.UserVM

@if ((string)Session["Role"] == "Admin")
{
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @if ((string)Session["Role"] == "Mod")
            {
                @Html.ActionLink("Back", "ModIndex")
            }
            else if ((string)Session["Role"] == "Admin")
            {
                @Html.ActionLink("Back to List", "ViewAllUsers")
            }
        </div>
    }
</div>
}
else
{
    <h1>Nice try...</h1>
}
